<a href="https://colab.research.google.com/github/rkdwogns/TIS/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B3%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [221]:
import pandas as pd
df1 = pd.DataFrame({"A":[1,2,3], "B":[1,2,3]})
df2 = pd.DataFrame({"A":[4,5], "B":[4,5]})
display(df1,df2)

   A  B
0  1  1
1  2  2
2  3  3

   A  B
0  4  4
1  5  5

In [222]:
# 행 방향(위 아래) 병합
display(pd.concat([df1, df2], axis = 0, ignore_index = True))
display(pd.concat([df1, df2], axis = 0, ignore_index = False))

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

   A  B
0  1  1
1  2  2
2  3  3
0  4  4
1  5  5

In [223]:
# 연습1
# 두개의 데이터프레임을 위아래로 연결하시고 새로운 통합 인덱스를 부여하시오.
import numpy as np
df1 = pd.DataFrame(np.arange(12).reshape(4,3), index=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.arange(12).reshape(4,3), index=['A', 'B', 'C', 'D'])
display(pd.concat([df1, df2], axis = 0, ignore_index = True))
display(pd.concat([df1, df2], axis = 0, ignore_index = False))

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11
4  0   1   2
5  3   4   5
6  6   7   8
7  9  10  11

   0   1   2
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11
A  0   1   2
B  3   4   5
C  6   7   8
D  9  10  11

In [224]:
# 열 방향(옆) 병합
df1 = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
df2 = pd.DataFrame({'C':[7,8,9]})
display(pd.concat([df1, df2], axis = 1, ignore_index = True))
display(pd.concat([df1, df2], axis = 1, ignore_index = False))

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [225]:
df2.index = ['a', 'b', 'c']
display(pd.concat([df1, df2], axis = 1, ignore_index = False))

     A    B    C
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  6.0  NaN
a  NaN  NaN  7.0
b  NaN  NaN  8.0
c  NaN  NaN  9.0

In [226]:
import pandas as pd

df1 = pd.DataFrame({"직원": ["김철수", "박철수", "김민수", "이민수"],
                    "부서": ["회계", "데이터분석", "데이터분석", "인사"]})
df2 = pd.DataFrame({"직원": ["박철수", "이민수", "김민수", "김철수"],
                     "입사년도": [2004, 2008, 2012, 2014]})
display("df1: ", df1)
display("df2: ", df2)
merged_df = pd.merge(df1, df2, on = "직원")
display("merged_df: ", merged_df)

'df1: '

    직원     부서
0  김철수     회계
1  박철수  데이터분석
2  김민수  데이터분석
3  이민수     인사

'df2: '

    직원  입사년도
0  박철수  2004
1  이민수  2008
2  김민수  2012
3  김철수  2014

'merged_df: '

    직원     부서  입사년도
0  김철수     회계  2014
1  박철수  데이터분석  2004
2  김민수  데이터분석  2012
3  이민수     인사  2008

In [227]:
df3 = pd.DataFrame({"직원": ["김철수", "김민수", "김철수", "김민수"],
                   "부서": ["인사", "인사", "데이터분석", "데이터분석"],
                   "입사년도": [2004, 2008, 2010, 2006]})
df4 = pd.DataFrame({"직원": ["김철수", "김철수", "김민수", "김민수"],
                   "부서": ["인사", "데이터분석", "인사", "데이터분석"],
                   "월급": [500, 400, 350, 300]})
display("df3: ", df3)
display("df4: ", df4)
merged_df = pd.merge(df3, df4, on = ["직원", "부서"])
display("merged_df: ", merged_df)

'df3: '

    직원     부서  입사년도
0  김철수     인사  2004
1  김민수     인사  2008
2  김철수  데이터분석  2010
3  김민수  데이터분석  2006

'df4: '

    직원     부서   월급
0  김철수     인사  500
1  김철수  데이터분석  400
2  김민수     인사  350
3  김민수  데이터분석  300

'merged_df: '

    직원     부서  입사년도   월급
0  김철수     인사  2004  500
1  김민수     인사  2008  350
2  김철수  데이터분석  2010  400
3  김민수  데이터분석  2006  300

In [228]:
path = "/content/drive/MyDrive/Colab Notebooks/sports.csv"
sports_df = pd.read_csv(path)
sports_df

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키
9  김중교  10      축구

In [229]:
path = "/content/drive/MyDrive/Colab Notebooks/subject.csv"
subjects_df = pd.read_csv(path)
subjects_df

    성명  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
8  채관수   9      미술
9  김중교  10      역사

In [230]:
subjects_df.columns = ['이름', '번호', '좋아하는 과목']
subjects_df
merged_df = pd.merge(sports_df, subjects_df, on = ['이름', '번호'])
display("merged_df: ", merged_df)

'merged_df: '

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키      미술
9  김중교  10      축구      역사

In [231]:
df1.rename({"직원":"성함"}, axis = 1, inplace = True)
'''
예제를 위해 df1의 "직원"이라는 컬럼을 "성함"으로 바꿨습니다.
rename 메서드는 인덱스를 딕셔너리의 키에서 값으로 바꾸는 데 사용합니다.
즉, 여기서는 "직원"이라는 인덱스가 "성함"이라는 인덱스로 바뀌었습니다.
axis 인자는 행과 열 인덱스 가운데 어느 인덱스를 수정할 지를 나타냅니다(axis=1: 칼럼 수정, axis=0: 행 인덱스 수정).
마지막으로 inplace 인자는 메서드 내부에서 인스턴스를 직접 수정할 지 혹은 출력을 반환할 지를 나타냅니다.
inplace를 True로 설정하면 메서드의 출력을 반환하지 않고 인스턴스를 직접 바꾸며,
False로 설정하면 인스턴스를 직접 바꾸지 않고 메서드의 출력을 반환합니다.
*** inplace 인자는 판다스의 다른 함수와 메서드에서도 자주 사용되므로 반드시 알아둬야 합니다.
'''
merged_data = pd.merge(df1, df2, left_on = ["성함"], right_on = ["직원"])
display(merged_data)

    성함     부서   직원  입사년도
0  김철수     회계  김철수  2014
1  박철수  데이터분석  박철수  2004
2  김민수  데이터분석  김민수  2012
3  이민수     인사  이민수  2008

In [232]:
subjects_df.rename({'이름':'성명'}, axis = 1, inplace = True)
subjects_df

    성명  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
8  채관수   9      미술
9  김중교  10      역사

In [233]:
merged_data = pd.merge(sports_df, subjects_df, left_on = ['이름', '번호'], right_on = ['성명', '번호'])
display(merged_data)

    이름  번호 좋아하는 운동   성명 좋아하는 과목
0  김민규   1      축구  김민규      영어
1  임재광   2      농구  임재광      수학
2   최선   3      배구   최선      과학
3  정승용   4      족구  정승용      국어
4  강재훈   5      배구  강재훈      역사
5  장윤제   6      축구  장윤제      지리
6  고연서   7      피구  고연서      사회
7  유원종   8   아이스하키  유원종      음악
8  채관수   9      하키  채관수      미술
9  김중교  10      축구  김중교      역사

In [234]:
# 중복 칼럼 제거
merged_data.drop('성명', axis = 1, inplace = True)
merged_data

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키      미술
9  김중교  10      축구      역사

In [235]:
df1 = pd.DataFrame({'key':[1,2,3], 'x':[1,2,3]})
df2 = pd.DataFrame({'key':[2,3,4], 'y':[2,3,4]})
display(df1, df2)

   key  x
0    1  1
1    2  2
2    3  3

   key  y
0    2  2
1    3  3
2    4  4

In [236]:
display(pd.merge(df1, df2, on = 'key', how = 'inner'))

   key  x  y
0    2  2  2
1    3  3  3

In [237]:
display(pd.merge(df1, df2, on = 'key', how = 'left'))

   key  x    y
0    1  1  NaN
1    2  2  2.0
2    3  3  3.0

In [238]:
display(pd.merge(df1, df2, on = 'key', how = 'right'))

   key    x  y
0    2  2.0  2
1    3  3.0  3
2    4  NaN  4

In [239]:
display(pd.merge(df1, df2, on = 'key', how = 'outer'))

   key    x    y
0    1  1.0  NaN
1    2  2.0  2.0
2    3  3.0  3.0
3    4  NaN  4.0

In [240]:
# 각각의 데이터프레임에서 서로 다른 이름을 가지는 행 하나씩을 제거(drop 메서드 활용: axis = 0)
sports_df.drop(9, axis = 0, inplace=True)
subjects_df.drop(8, axis = 0, inplace=True)
display(sports_df, subject_df)
# 그런 다음, 두 데이터프레임을 병합하는데, how의 4가지 방법 다 써보기
subjects_df.rename({'성명':'이름'}, axis=1, inplace=True)

display(pd.merge(sports_df,subjects_df, on = ['이름', '번호'], how = 'inner'))
display(pd.merge(sports_df,subjects_df, on = ['이름', '번호'], how = 'left'))
display(pd.merge(sports_df,subjects_df, on = ['이름', '번호'], how = 'right'))
display(pd.merge(sports_df,subjects_df, on = ['이름', '번호'], how = 'outer'))

    이름  번호 좋아하는 운동
0  김민규   1      축구
1  임재광   2      농구
2   최선   3      배구
3  정승용   4      족구
4  강재훈   5      배구
5  장윤제   6      축구
6  고연서   7      피구
7  유원종   8   아이스하키
8  채관수   9      하키

    성명  번호 좋아하는 과목
0  김민규   1      영어
1  임재광   2      수학
2   최선   3      과학
3  정승용   4      국어
4  강재훈   5      역사
5  장윤제   6      지리
6  고연서   7      사회
7  유원종   8      음악
9  김중교  10      역사

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키     NaN

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  김중교  10     NaN      역사

    이름  번호 좋아하는 운동 좋아하는 과목
0  김민규   1      축구      영어
1  임재광   2      농구      수학
2   최선   3      배구      과학
3  정승용   4      족구      국어
4  강재훈   5      배구      역사
5  장윤제   6      축구      지리
6  고연서   7      피구      사회
7  유원종   8   아이스하키      음악
8  채관수   9      하키     NaN
9  김중교  10     NaN      역사